#view-btn{
    display: none;
}

.btn-add {
    border: none;
    background-color: inherit;
    padding-top: 14px;
    padding-left: 2px;
    font-size: 16px;
    cursor: pointer;
    color: #1aa3ff;
}

/* On mouse-over */
.btn-add:hover {
    text-decoration: underline;
}
